/*----- Typography ------------------------------
Raleway: 300, 500, 600, 700 ---------------------
Oxygen: 300 ---------------------------------*/

$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

$oxygen: "Oxygen", $helvetica;
$raleway: "Raleway", $helvetica;


/*----- Colors ------------------------------*/

$light-blue: #3498db;
$dark-blue: #012340;
$shade-orange: #e19f1c;
$orange: #f4ad1f;
$white: #fcfcfc;
$body-text: #646464;
$heading-gray: #2d2d2d;