.highlight-blue {
	color: $light-blue;
}

.highlight-orange {
	color: $orange;
}

.section-bg-white {
	background-color: $white;
	color: $body-text;

	& h2 {
		color: $heading-gray;
	}
}

.overlay {
	position: fixed; 
	width: 100%;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	z-index: -5;
}

.hidden-overlay {
	background: #111;
	opacity: .7;
	z-index: 8;
	transition: opacity .5s ease-in-out;
}